@import 'https://fonts.googleapis.com/css?family=Pacifico|Satisfy';
@import 'https://fonts.googleapis.com/css?family=Handlee';
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");/*!
/*Wedding website template*/
body{ overflow:hidden; overflow-y: scroll; background-color:#fcfcfc; background: url(../images/background_blur.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; margin:0; padding:0; }
.row,.chatSection,.container{background:none;}
.mainHeading{ text-align: center; display: block; position: relative; /*margin-bottom: 10px;*/ /*z-index: 1000;*/ }
.chatSection{ position: relative; /*background-color: #fff;*/ display: block; }
.mapSection{ display: block; position: relative;}
.magazine-viewport{ position: absolute; display: block; /*border: 1px solid red;*/ /*height: 640px;*/ }

/*Wedding Post CSS*/
.messageTitle{ position: relative; top:5px;color: white; font-family: 'Handlee', cursive; font-size: 25px;}
.messageBoard{ height: 450px; overflow-y: scroll; overflow-x:hidden; }
.messagesList{ position:relative; border: 3px solid rgba(243, 221, 67, 0.4); margin: 10px 5px 18px; color: white; padding: 25px 35px 60px; border-radius: 15px;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7d765+1,efb239+90,fcef8a+100 */
background: #f7d765; /* Old browsers */
background: -moz-linear-gradient(top, #f7d765 1%, #efb239 90%, #fcef8a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f7d765 1%,#efb239 90%,#fcef8a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f7d765 1%,#efb239 90%,#fcef8a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7d765', endColorstr='#fcef8a',GradientType=0 ); /* IE6-9 */
}

.messageIcon {position: relative; /*border: 1px solid red;*/ background-color: white; border-radius: 50%; height: 50px; width: 50px; }
.messageIcon img{ position: absolute; top:2px; left:8px;}
.messageBody{ color: black; font-family: 'Handlee', cursive; font-size: 25px; font-weight: lighter;}
.messageDate {position: absolute; border: 3px solid rgba(243, 221, 67, 0.7); color: #419fc1; top: -2px; left: 77%; padding: 7px 5px; background-color: white; border-radius: 15px; height: 40px; font-size: 12px; text-align:center;}
.messageOptions{ margin: 10px 5px 15px;}
.messageOptions span.messageAuthor {display: inline-block; border: 3px solid rgba(243, 221, 67, 0.7); position: relative; height: 40px; top: -3px; color: #419fc1; border-radius: 15px; background-color: white; padding: 0px 15px; }
.messageOptions span.messageLikes {position:relative;color: #419fc1; border: 3px solid rgba(243, 221, 67, 0.7); border-radius: 15px; top:-4px; background-color: white; padding: 5px; }
span.messageLikes img{position: relative; top: -3px;}
.btn-rounded{position: relative; border: 3px solid rgba(243, 221, 67, 0.7); top:-3px; border-radius: 15px;}
.titleSubmitButton{position: relative; top:-5px; left: 10%; border:2px solid; border-radius:15px; font-family: 'Open Sans';}
.myGoogleMap{ text-align: center; }
.loadingMap{float:none; margin: auto;}
.centeredDiv {float:none; margin:auto;}
.mapArea{float:none; margin: auto; width: 100%; height: 470px; border-radius: 15px;}
.chatSuccessImg{position: relative; top:25px; left: 75%;}
.successDiv{border-radius: 15px; font-size: 15px;}
.successDiv a{ color: white;}
