/*Wedding website template*/
body{
	overflow:hidden;
	overflow-y: scroll;
	background-color:#fcfcfc;
	margin:0;
	padding:0;
}

.mainHeading{
	text-align: center;
  display: block;
  position: relative;
  /*margin-bottom: 10px;*/
  /*z-index: 1000;*/
}

.mapSection{
  position: relative;
  background-color: #fff;
  display: block;
}

.chatSection{
  position: relative;
  background-color: #fff;
  display: block;
}

.magazine-viewport{
  position: absolute;
  display: block;
  /*border: 1px solid red;*/
  /*height: 640px;*/
}
