<!doctype html>
<html lang="en">
<head>
	<title>Pramod Weds Shwetha</title>
	<meta name="description" content="Pramod and Shwetha formally invite you for their wedding celebration on 17th November 2016. This is an online Wedding card invite" />
  <meta name="keywords" content="innovoskies, wedding card, wedding, marriage, angular, firebase, 3d, pramod, jingade, shekhar shwetha, november, 2016" />
  <meta name="author" content="Pramod AJ" />

	<meta name="viewport" content="width = 1050, user-scalable = no" />
	<!-- <link rel="icon" type="image/png" href="../../pics/favicon.png" /> -->
	<link rel="stylesheet" href="css/bootstrap.paper.min.css">
	<link rel="stylesheet" href="css/main.css">
	<!-- jQuery Core -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="extras/jquery-ui-1.8.20.custom.min.js"></script>
	<script type="text/javascript" src="extras/modernizr.2.5.3.min.js"></script>
	<script type="text/javascript" src="lib/hash.js"></script>
</head>

<body ng-app="myApp">
<div ng-controller="mainController">
	<div id="canvas">
		<!-- Logo Granim JS -->
		<div class="mainHeading container">
			<h1>Pramod weds Shwetha</h1>
			<div class="row" ng-controller="musicController">
				<a ng-click="turnPrev()" class="btn btn-danger">{{prevPage}}</a>
				<a class="btn btn-danger" data-toggle="modal" data-target="#myModal">{{postBtn}}</a>
				<a class="btn btn-danger" href="#venueDetails">{{venueBtn}}</a>
				<a ng-click="turnNext()" class="btn btn-danger">{{nextPage}}</a>
			</div>
		</div>
		<!-- end:Logo Granim JS -->
		<!-- Main Turn JS flipbook -->
		<div class="zoom-icon zoom-icon-in"></div>
		<div class="magazine-viewport">
			<div class="container">
				<div class="magazine">
					<!-- Next button -->
					<div ignore="1" class="next-button"></div>
					<!-- Previous button -->
					<div ignore="1" class="previous-button"></div>
				</div>
			</div>
		</div>
		<!-- Main Turn JS flipbook -->
		<!-- Chat Section -->
		<a id="chatDetails"></a>
		<div class="row chatSection">
			<div class="container centeredDiv">
				<div class="translucentDiv">
					<p class="bookLinks">Quick Links: <a href="#page/8">Wedding Invitation</a> <a href="#page/2">Welcome Page</a> <a href="#page/4">Fun Facts</a> <a href="#page/6">Our Family</a></p>
				</div>
				<div class="translucentDiv">
					<p class="mainSectionParagraph">We welcome you to the <span class="bluishColor">online Wedding invitation</span>. <br>
						This E-card has been designed to experience like <span class="bluishColor">a real wedding card/book.</span> <br>
						If you are on a <span class="bluishColor">Mobile device,</span> Please use the buttons below or touch the edge of the card to navigate around. <br>
						If you are on a <span class="bluishColor">PC/Mac,</span> please use the Arrow keys to navigate through the E-card. <br>
					</p>
				</div>
				<h1>"Your Well Wishes"</h1>
				<wedding-form></wedding-form>
				<wedding-post></wedding-post>
			</div>
		</div><!-- end:Chat Section -->

		<a id="venueDetails"></a>
		<!-- Map Section -->
		<div class="row mapSection">
			<div class="container">
				<h1>Venue Map</h1>
				<geo-map></geo-map>
			</div>
		</div><!-- end:Map Section -->
	</div>
	<!--end: canvas -->
</div>
<div class="translucentDiv">
	<p>&copy;2016 E-Card design by <a href="">Innovoskies.com</a>. All rights reserved<br>
	</p>
</div>
	<!-- end:Main Turn JS flipbook -->
	<!-- Add this Plugin -->
	<!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53f4b64d78630cb1" async="async"></script>
	<!-- jQuery Music Plugin -->
	<script type="text/javascript" src="js/jquery.mb.audio.js"></script>
	<!-- Firebase -->
	<script type="text/javascript" src="lib/jquery.loadie.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	<script src="lib/angular.min.js"></script>
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
	<script src="lib/angular-animate.min.js"></script>
	<script src="js/main.js"></script>
	<!-- Angular Firebase application -->
	<script src="js/app.js"></script>
	<script src="js/googleMapLoaderService.js"></script>
	<script src="weddingPost/weddingPostComponent.js"></script>
	<script src="weddingForm/weddingFormComponent.js"></script>
	<script src="geolocation/geoLocationComponent.js"></script>
</body>
</html>
